* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    width: 720px;
    height: 300px;
    font-size: 16px;
}

#preloader{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    display: none;
}

#imgloader {
    background-image: url('../images/Blocks-1s-200px.gif');
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
}

main {
    position: relative;
    height: 100%;
}

#infoUser, #notiAnonymous {
    margin-top: 2%;
    margin-left: 1%;
    width: 99%;
    height: 13%;
}

#notiAnonymous > h3 {
    margin-bottom: 3px;
}

#loginContainer {
    width: 100%;
    height: 60%;
}

.loginForm {
    width: 90%;
    height: 90%;
    margin-top: 3%;
    margin-left: 3%;
}

.form-row {
    margin-top: 2%;
}

.inputText {
    margin-top: 1%;
    width: 100%;
    height: 25px;
    border-radius: 7px;
    outline: none;
    font-size: 16px;
    border: 1px #689cc5 solid;
}

form > label {
    font-size: 18px;
}

form > p {
    margin-top: 1%;
    color: red;
    font-size: small;
}


#dictimContainer {
    width: 100%;
    height: 60%;
    text-align: center;
}

#dictim {
    margin-top: 20px;
    font-size: 22px;
    font-family: 'Sofia';
    color: rgb(32, 32, 138);
}

#buttonContainer {
    margin-top: 5px;
    float: left;
    width: 100%;
    height: 15%;
    text-align: center;
}

input[type="button"] {
    outline: none;
    width: 18%;
    height: 35px;
    border: none; 
    color: black;
    transition: 0.3s;
    font-size: 16px;
    background-color: #689cc5;
    opacity: 0.6;
    text-align: center;
    border-radius: 15px;
}

input[type="button"]:hover {
    opacity: 1;
} 

input[type="button"]:disabled {
    cursor: not-allowed;
    background-color: gray;
}
