* {
    margin: 0px;
    padding: 0px;
}

body {
    font: arial;
    background-color: white;
    width: 240px;
}

h3 {
    margin: 5px;
    padding: 3px;
    text-align: center;
    font-size: 18px;
    color: rgb(60, 16, 182);
}