div.loginForm {
    text-align: center;
}

input {
    margin-bottom: 5px;
}

input[type="text"], 
input[type="password"] {
    outline: none;
    border: 1px solid black;
    border-radius: 5px;
    width: 220px;
    height: 25px;
}

input[type="button"] {
    outline: none;
    width: 110px;
    height: 25px;
    border: none; 
    color: black;
    transition: 0.3s;
    font-size: 16px;
    background-color: blue;
    opacity: 0.6;
    text-align: center;
    border-radius: 15px;
}

input[type="button"]:hover {

    opacity: 0.8;
} 


