* {
    margin: 0px;
    padding: 0px;
} 

body {
    width: 720px;
    height: 60px;
    font: arial; 
}

header {
    text-align: center;
}

h3 {
    margin-top: 4px;
    font-size: 20px;
}

#tab {
    margin-top: 5px;
    width: 100%;
}

#tabName {
    height: 40px;
    width: 100%;
}

.tabBody {
    width: 100%;
}

.tabBtn {
    float: left;
    border: none;
    outline: none;
    width: 240px; 
    font-size: 17px;
    height: 100%;
    cursor: pointer;
}

.tabBtn:hover {
    background-color: darkblue;
}

.tabContent {
    display: none;
}