div {
    margin-bottom: 3px;
}

.title {
    padding-left: 7px;
    font-size: 16px;
}

.value {
    font-size: 16px;
}

#btnContainer {
    text-align: center;
}

button {
    outline: none;
    width: 100px;
    height: 25px;
    border: none; 
    color: black;
    transition: 0.3s;
    font-size: 16px;
    background-color: blue;
    opacity: 0.6;
    text-align: center;
    border-radius: 15px;
}

button:hover {
    opacity: 0.8;
}